
<div class=" h1">

  <ul class="nav nav-tabs bars raw">
    <li class="mx-auto col nav-item">
      <a class="text-center nav-link select active bg-info text-white" id="0">目視確認</a>
    </li>
    <li class="col nav-item">
      <a class="text-center nav-link select" id="1">合図</a>
    </li>
    <li class="col nav-item">
      <a class="text-center nav-link select" id="2">運転操作</a>
    </li>
    <li class="col nav-item">
      <a class="text-center nav-link select" id="3">速度維持</a>
    </li>
    <li class="col nav-item">
      <a class="text-center nav-link select" id="4">右左折</a>
    </li>
    <li class="col nav-item">
      <a class="text-center nav-link select" id="5">停車</a>
    </li>
    <!-- <li class="col nav-item">
      <a class="text-center nav-link select" id="6">確認</a>
    </li> -->
  </ul>
  

  
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active" style="table-layout: fixed;">
        <%= render partial: 'anzenkakunin' %>
      </div>
      <div class="carousel-item">
        <%= render partial: 'aizu' %>
      </div>
      <div class="carousel-item">
        <%= render partial: 'drivingtec' %>
      </div>
      <div class="carousel-item">
        <%= render partial: 'sokudo' %>
      </div>
      <div class="carousel-item">
        <%= render partial: 'usasetu' %>
      </div>
      <div class="carousel-item">
        <%= render partial: 'teisha' %>
      </div>
    </div>
  </div>
</div>
